**/application.zip
**/security/
**/.idea/
**/*.bak
**/.DS_Store
**/http-client.*.env.json
**/*_venv/
**/.env
**/.obsidian
**/.vscode
!*.sh
!*.py
!*.http
!*.md
!*.sd
!*.png
!*.csv
!*.xml
!*.json
!*.jsonl
!*.profile